<div class="students-list">
  <h2>Students List</h2>
  <div class="cards-container">
    <div *ngFor="let student of (students$ | async)" class="card">
      <!-- <img src="{{ student.picture }}" alt="{{ student.name }}" /> -->
      <div class="card-details">
        <strong>Name:</strong> {{ student.name }} <br />
        <strong>Branch:</strong> {{ student.branch }} <br />
      </div>

      <button
        [routerLink]="['/students', student.id]"
        routerLinkActive="router-link-active"
      >
        View Details
      </button>
    </div>
  </div>
</div>
